.card {
    position: relative;

    border: 1px solid var(--border-color);
    border-radius: 1rem;

    width: fit-content;

    display: flex;
}

.cardBtn {
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    
}

.container {
    width: fit-content;
}

