.card {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.mainCard {
    border-color: transparent;
}

.cardBtn {
    float: right;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 5px;
    
}

.container {
    width: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    background-color: #a1a1a14f;
}

.header {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.75rem;
}
.label {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 30px;
}

.value {
    font-size: 1.50rem;
    font-weight: 600;
    margin-top: 2px;
}


